<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/user/login">
        <label for="t1"><b>Name:</b> </label>
        <input type="text" id="t1" name="username" placeholder="Enter your name">
        <br> <br>
        <label for="t3"><b>Password:</b></label>
        <input type="password" id="t3" name="password" placeholder="Enter your pass">
        <br>
        <input type="submit" value="login" style="cursor: pointer;">
    </form>
</body>
</html>