<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><b>URL Shortner:</b> </h1> <br> <br>
    <form action="/render" >
        <div style="display: flex; justify-content: center; height: 6vh;">
            <label for="url"></label>
            <input type="text" id="url" placeholder="Enter Your URL" size="120">
            <input type="submit" style="cursor:pointer" >
        </div>
    </form>
</body>
</html>